<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://www.airtel.ne/" target="_blank" mat-button>

            <img class="avatar image-taille" src="assets/reseausmart.jpg">
            <span></span>
        </a>


        <a href="https://fr-fr.facebook.com/airtelniger/" target="_blank" mat-button>

            <img class="avatar image-taille" src="assets/facebook.png">
            <span></span>
        </a>

        <a href="https://twitter.com/airtelniger" target="_blank" mat-button>

            <img class="avatar image-taille" src="assets/twitter.png">
            <span></span>
        </a>

        <a href="https://www.instagram.com/airtel_niger/?hl=fr" target="_blank" mat-button>

            <img class="avatar image-taille" src="assets/instagramm.jpg">
            <span></span>
        </a>

        <a href="https://www.youtube.com/channel/UCsX6tCWacvs3gFj9OhISytA" target="_blank" mat-button>

            <img class="avatar image-taille" src="assets/youyube.png">
            <span></span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/documentation/getting-started/introduction"></a>
            <span>&bull;</span>
            <a mat-button routerLink="/documentation/changelog"></a>
        </div>

    </div>

</mat-toolbar>