
<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let region">
            <mat-checkbox [(ngModel)]="checkboxes[region.id]" (ngModelChange)="onSelectedChange(region.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    
    <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let region">
            <p class="text-truncate font-weight-600">{{region.nom}}</p>
        </mat-cell>
    </ng-container>

   

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let region">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(pelerin.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="pelerin.starred.includes(pelerin.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!pelerin.starred.includes(pelerin.id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="editRegion(region)">
                        <mat-icon>edit</mat-icon>
                        <span>Mettre à jour</span>
                    </button>

                    <button mat-menu-item aria-label="edit" (click)="deleteRegion(region)">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>

                    <button mat-menu-item aria-label="edit" (click)="deleteRegion(region)">
                        <mat-icon>print</mat-icon>
                        <span>Imprimer</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let region; columns: displayedColumns;"
             class="region"
             (click)="editRegion(region)"
             [ngClass]="{'accent-50':checkboxes[region.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>



