<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <mat-checkbox [(ngModel)]="checkboxes[typeDemande.id]" (ngModelChange)="onSelectedChange(typeDemande.id)"
                (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->

    <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <p class="text-truncate font-weight-600">{{typeDemande.nom}} </p>
        </mat-cell>
    </ng-container>



    <ng-container matColumnDef="direction">
        <mat-header-cell *matHeaderCellDef>Direction</mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <p class="text-truncate font-weight-600">{{typeDemande.workFlowDirection.nom}} </p>
        </mat-cell>
    </ng-container>



    <ng-container matColumnDef="departement">
        <mat-header-cell *matHeaderCellDef>Departement</mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <p class="text-truncate font-weight-600">{{typeDemande.workFlowDepartement.nom}} </p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <p class="text-truncate font-weight-600">{{typeDemande.createdAt|date:'dd/M/yyyy'}}</p>
        </mat-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let typeDemande">
            <div fxFlex="row" fxLayoutAlign="end center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="editTypeDemande(typeDemande)">
                        <mat-icon>edit</mat-icon>
                        <span>Mettre à jour</span>
                    </button>

                    <button mat-menu-item aria-label="edit" (click)="deleteTypeDemande(typeDemande)">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>


                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let typeDemande; columns: displayedColumns;" class="typeDemande"
        (click)="editTypeDemande(typeDemande)" [ngClass]="{'accent-50':checkboxes[typeDemande.id]}" matRipple
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>